
# OpenVINO
if test -f /opt/intel/openvino/bin/setupvars.sh; then
    source /opt/intel/openvino/bin/setupvars.sh
fi

# ngraph
for ng in /opt/intel/openvino/cmake /opt/intel/openvino/deployment_tools/ngraph/cmake; do

    if test -f $ng/ngraphConfig.cmake; then
	export ngraph_DIR=$ng
    fi
done

# OpenCV
for oc in /opt/intel/openvino/opencv/lib/cmake/opencv4 /opt/intel/openvino/opencv; do
    if test -d $oc; then
	export OpenCV_DIR=$oc
	break
    fi
done

# end

